$main-dark: #2b2d42;
$main-light: #8d99ae;
$accent-dark: #d90429;
$accent-light: #ef233c;
$main-text: #edf2f4;
$border-radius: .7rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $main-dark;
  color: $main-dark;
  font-family: 'VT323', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

a {
  color: inherit;
  text-decoration: none;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 15vh;
  width: 75vw;
}

#drum-machine{
  align-items: center;
  background-color: $main-light;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 45rem;
  min-height: 40vh;
  padding: 2rem;
  width: 100%;
}

.grid-container{
  display: grid;
  gap: .25rem;
  grid-template-columns: auto auto auto;
  width: 20rem;
}

.drum-pad{
  background-color: $accent-dark;
  border: none;
  border-radius: $border-radius;
  color: $main-text;
  font-size: 2rem;
  height: 5rem;
}

.drum-pad.clicked{
  background-color: grey;
}

.drum-pad.clicked.on{
  background-color: $accent-light;
}

.drum-pad:focus-visible{
  outline: none;
}

.controls{
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  height: 16rem;
  justify-content: space-around;
  padding-left: 2.5rem;
  width: 15rem;
}

#display{
  background-color: $main-text;
  border-radius: $border-radius;
  color: $main-dark;
  height: 2rem;
  padding: .25rem;
  width: 10rem;
}

.switch{
  display: inline-block;
  height: 2rem;
  margin-left: .5rem;
  position: relative;
  width: 4rem;
}

.switch input{
  height: 0;
  opacity: 0;
  width: 0;
}

.slider{
  background-color: $main-text;
  border-radius: 2rem;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  background-color: $main-dark;
  border-radius: 100%;
  bottom: .2rem;
  content: "";
  height: 1.6rem;
  left: .2rem;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 1.6rem;
}

input:checked + .slider{
  background-color: $accent-dark;
}

input:focus + .slider{
  box-shadow: 0 0 1px $accent-dark;
}

input:checked + .slider:before{
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.volume-slider{
  appearance: none;
  -webkit-apperance: none;
  background-color: $main-text;
  border-radius: $border-radius;
  height: 1rem;
  outline:  none;
  width: 10rem;
}

.volume-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background-color: $main-dark;
  border-radius: 100%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.volume-slider::-moz-range-thumb{
  background-color: $main-dark;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 500px){
  #root{
    width: 90vw;
  }
}

@media screen and (max-width: 400px){
  #drum-machine{
    padding: 1rem .25rem;
  }
}